<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <form action="/auth/reset-password" method="post">
      <h2>Reset Password</h2>
      <input type="hidden" name="token" th:value="${token}" />

      <label for="newPassword">New Password</label>
      <input type="password" name="newPassword" required placeholder="Enter your new password"/>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" required placeholder="Confirm your new password"/>

      <button type="submit">Reset Password</button>
    </form>
    <footer class="site-footer">
      <p>&copy; 2025 Restaurant Management System</p>
    </footer>
  </body>
</html>
